{{ define "main" }}
<main>
    {{ $link_text := $.Site.Params.reply_by_email_link_text }}
    {{ $show_title := $.Site.Params.reply_by_email_show_title }}
    {{ $show_plain := $.Site.Params.reply_by_email_show_plain }}
    {{ $email_address := $.Site.Params.reply_by_email_address }}
    {{ $email_address_present := in $email_address "@" }}
    {{ $subject := $.Site.Params.reply_by_email_subject_prefix }}
    {{ $enable_obfuscation := $.Site.Params.reply_by_email_enable_obfuscation }}

    {{ if (and .Title $show_title) }}
    {{ $subject = print $subject .Title }}
    {{ else if (and (not .Title) .Plain $show_plain) }}
    {{ $subject = (print $subject (replaceRE "(\\s)" " " .Plain)) | htmlUnescape | truncate 60 }}
    {{ else }}
    {{ $subject = print $subject .Permalink }}
    {{ end }}

    <div class="content">
        <article class="h-entry post-single">
        <header class="post-meta">
            <h1 class="post-heading">
                <a class="u-url" href="{{ .Permalink }}">
                    {{ if .Title }}
                        <span class="post-title p-name">{{ .Title }}</span>
                    {{ else }}
                        <span class="generic-title">{{ if isset .Params "photos" }}#photopost{{ else if in .Params.categories "Links" }}#linkpost{{ else }}#micropost{{ end }}</span>
                    {{ end }}
                </a>
                </h1>
        </header>
        <section class="e-content post-content">{{ .Content }}</section>
        </article>
        <div class="post-kudos"><button class="tinylytics_kudos"></button></div>
        <div class="post-footer">
            <hr>
            <div class="pfhead"><h3>What next?</h3></div>
            <div class="pfmsg">
                <p>Have something you'd like to respond with? <a href="mailto:{{ $email_address }}?subject={{ $subject }}">Send me a note via email</a> 
                    and let's start a <a href="https://amitg.blog/interaction-not-reaction">conversation.</a>
                <p>You can also <a href="/subscribe">follow me via RSS</a>.</p></div>
        </div>

        {{ partial "pagenav.html" . }}

        <!-- Replies via Webmentions -->
        {{ if .Site.Params.include_conversation }}
        <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
        {{ end }}
    </div>
</main>
{{ end }}
