/* Base */
:root {
    --background: #F0ECDB;
    --text: #222;
    --highlight: #D64132;
    --bdbackground: #030222;
    --bdhighlight: #f9bf77;
}

body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: var(--text);
    background-color: var(--bdbackground);
    line-height: 1.5;
    width: 100%;
    margin: 0px;
}

main {
    width: 80%;
    max-width: 660px;
    background-color: var(--background);
    margin: 4rem auto;
    padding: 6rem;
    border-radius: 10px;
}

footer {
    text-align: center;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bdbackground);
    z-index: 2;
    height: 5rem;
    padding-top: 1rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-block-end: 2em;
    border-radius: 10px;
}

a {
    color: var(--highlight);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    width: 60%;
    max-width: 660px;
    margin: 4rem auto;
}

code {
    white-space: pre-wrap;
}

blockquote {
    display: block;
    border-left: 2px solid var(--highlight);
    padding: 0 12px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

ul, ol {
    padding-inline-start: 20px;
}

li {
    padding-bottom: 10px;
    padding-left: 5px;
}

.fade {
    position: fixed;
    bottom: 6rem;
    left: 0px;
    z-index: 2;
    width: 100%;
    background-image: linear-gradient(rgba(240,236,219,0), var(--bdbackground));
    height: 4rem;
}

.separator {
    height: 9rem;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
}

.intro {
    font-size: 20px;
    margin: 3rem auto;
}

.content {
    margin: 3rem auto;
}

.nav {
    bottom: 2rem;
    width: 100%;
    max-width: 660px;
    margin: 2rem auto 2rem auto;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.nav a {
    font-size: 18px;
    margin-right: 10px;
    color: var(--bdhighlight);
}

.previous, .previous-inactive {
    order: 1;
}

.links {
    order: 2;
    display: inline-flex;
}

.next, .next-inactive {
    order: 3;
}

.previous-inactive, .next-inactive {
    color: #4C516D !important;
    display: inline-block;
    pointer-events: none;
}

.page-nav {
    text-align: center;
}

.page-nav a {
    margin-right: 24px;
    text-decoration: none;
}

a .post-title, a .generic-title, h1.page-title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 48px;
    color: var(--highlight);
}

h1.page-title {
    text-align: center;
}

a .post-title {
    font-size: 40px;
}

a .generic-title {
    font-size: 32px;
}

.t404 {
    display: flex;
    justify-content: center;
    font-size: 11rem;
    margin-bottom: 0px;
    line-height: 0.8;
}

.t404 > a {
    color: var(--text);
    text-decoration: none;
}

.d404 {
    text-align: center;
    font-size: 2.4rem;
    color: var(--highlight);
    margin-top: 0px;
}

.d404 > a {
    text-decoration: underline;
}

.post-footer {
    margin-top: 6rem;
    text-align: center;
}

input#input_search {
    width: 100%;
}

.lcol, .tcol {
    float: left;
}

.lcol a {
    float: right;
}

.row {
    margin: 0.5rem auto;
}

.tcol {
    width: 80%;
}

.lcol {
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.bigfoot-footnote__content > p {
    color: #333;
}

.categorycloud-item sup {
    color: var(--highlight);
}

.archive-entry {
    margin: 10px 0;
  }

/* Media Queries */

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    main {
        margin: 3rem auto;
        padding: 3rem;
    }

    footer {
        height: 3rem;
    }

    .fade {
        bottom: 3rem;
        height: 4rem;
    }
}

@media screen and (max-width: 415px) {
    body {
        font-size: 16px;
    }

    main {
        margin: 2rem auto;
        padding: 2rem;
    }

    .intro {
        margin: 4rem auto;
    }

    footer {
        height: 3rem;
    }

    .fade {
        bottom: 3rem;
        height: 4rem;
    }

    .t404 {
        font-size: 4rem;;
    }
    .d404 {
        font-size: 1.1rem;
    }
    .previous, .previous-inactive {
        margin-left: 20px !important;
    }

    .next, .next-inactive {
        margin-right: 20px !important;
    }

    .preco {
        font-size: 16px;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
    }

    .tcol {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media screen and (max-width: 340px) {
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: #030222;
        --text: #ddd;
        --highlight: #f9bf77;
        --bdbackground: #030222;
        --bdhighlight: #f9bf77;
    }

    .fade {
        background-image: linear-gradient(rgba(34,34,34,0), #030222) !important;
    }
}