{{ define "main" }} 
<main>
<div class="intro">
    {{ .Content }}

    <hr>
    <p><strong>Start Here</strong></p>

    <div class="row">
        <div class="tcol">Perfectionism Isn’t Healthy</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2020/08/01/201108.html">2020</a></div>
    </div>
    <div class="row">
        <div class="tcol">Slow Down. Be Present.</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2020/07/17/203000.html">2020</a></div>
    </div>
    <div class="row">
        <div class="tcol">Put a price on that “sure”</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2020/06/07/210600.html">2020</a></div>
    </div>
    <div class="row">
        <div class="tcol">I am getting used to this new normal</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2020/04/07/220200.html">2020</a></div>
    </div>
    <div class="row">
        <div class="tcol">It’s just some bottled clay..</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2019/09/16/233500.html">2019</a></div>
    </div>
    <div class="row">
        <div class="tcol">Walking through a foggy street</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2019/08/17/232200.html">2019</a></div>
    </div>
    <div class="row">
        <div class="tcol">Reflecting on the last 10 years</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2019/01/24/001200.html">2019</a></div>
    </div>
    <div class="row">
        <div class="tcol">That One Shirt in Your Wardrobe</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2018/07/26/185400.html">2018</a></div>
    </div>
    <div class="row">
        <div class="tcol">Creativity and Parenthood</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2018/07/08/211500.html">2018</a></div>
    </div>
    <div class="row">
        <div class="tcol">Time. Those fleeting moments of time</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2018/04/02/220600.html">2018</a></div>
    </div>
    <div class="row">
        <div class="tcol">We Should All Write. Everyone Can.</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2018/02/13/215000.html">2018</a></div>
    </div>
    <div class="row">
        <div class="tcol">Pen is, still, mightier</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2014/07/28/235600.html">2014</a></div>
    </div>
    <div class="row">
        <div class="tcol">Stop overthinking</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2013/08/06/232122.html">2013</a></div>
    </div>
    <div class="row">
        <div class="tcol">Speechless</div>
        <div class="lcol"><a href="https://www.amitgawande.com/2007/04/12/185400.html">2007</a></div>
    </div>
    <div class="separator"></div>
    <div class="page-nav">
        <a href="/search/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke="currentColor" fill="currentColor" class="bi bi-search" viewBox="-1 -1 16 16" style="position: relative; top: -1px">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
            </svg>
        </a>
        <a href="/surprise-me/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke="currentColor" fill="currentColor" class="bi bi-shuffle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"></path>
            <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"></path>
        </svg></a>	
    </div>
</div>
</main>
{{ end }}